body{
	background-color: blue;
	color: white;

}
a{
	color: lightblue;
}
.vegetarian{color: green;}
.notvegetarian{color: red;}
#weird{color: orange;}
.title{font-family:  "Times New Roman"; color:red; position: absolute;left: 100px;}
.content{color: white;
position: absolute;
top: 047px;
left: 100px;}
.sidebar{position: absolute;
top:0px;
left:00px;
width: 100px;
height: 100%;
background-color: black;}
.container{position: relative;
height: 1000px;}
